@model CruiseDemo.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay" style="background-image: url('Public/images/hero_2.jpg')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>We can make it together</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container site-section">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6">
          <span class="text-primary">What We do</span>
          <h2 class="mb-4">The technology for the future generation</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis provident eius ratione velit, voluptas laborum nemo quas ad necessitatibus placeat?</p>
        </div>
      </div>

      <div class="row">
          @foreach (var feature in Model.Features)
          {
              if (feature.Place == "intro")
              {
                  <div class="col-lg-4">
                      <div class="feature-1">
                          <img src="~/Public/images/@feature.Photo" alt="@feature.Title" class="img-fluid">
                          <div class="feature-1-contents">
                              <h2>@feature.Title</h2>
                              @Html.Raw(feature.Content)
                              <p><a href="#" class="more">Learn More</a></p>
                          </div>
                      </div>
                  </div>
              }

          }


      </div>
    </div>


    <div class="site-section section-2">
        <div class="container">
            <div class="row justify-content-center text-center mb-5 section-2-title">
                <div class="col-md-6">
                    <span class="text-primary">Our Features</span>
                    <h2 class="mb-4">The technology for the future generation</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis provident eius ratione velit, voluptas laborum nemo quas ad necessitatibus placeat?</p>
                </div>
            </div>
        </div>
        @for(int i=0; i < Model.Features.Count; i++)
        {
            if (Model.Features[i].Place == "hero")
            {
                <div class="container site-section">
                    <div class="row align-items-stretch feature-2">
                        <div class="col-lg-9 feature-2-img @(i%2==1 ? "order-lg-2" : "")">
                            <img src="~/Public/images/@Model.Features[i].Photo" alt="@Model.Features[i].Title" class="img-fluid">
                        </div>
                        <div class="col-lg-3 feature-2-contents pl-lg-5">
                            <div class="fixed-content">
                                <span class="caption">0@(i+1).</span>
                                <h3 class="mb-5">@Model.Features[i].Title</h3>
                                @Html.Raw(Model.Features[i].Content)
                            </div>
                        </div>
                    </div>
                </div>
            }

        }

     </div>


    <div class="container site-section">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6">
          <span class="text-primary">Design for the future</span>
          <h2 class="mb-4">The technology for the future generation</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis provident eius ratione velit, voluptas laborum nemo quas ad necessitatibus placeat?</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="row">
                @foreach (var advantage in Model.Advantages)
                {
                    <div class="col-lg-6 mr-auto pr-lg-5">
                        <div class="feature-3">
                            <h3>@advantage.Title</h3>
                            <p>@advantage.Content</p>
                        </div>
                    </div>

                }

            </div>
        </div>
      </div>
    </div>

    <div class="site-section section-4">
        <div class="container">

            @foreach (var testimonial in Model.Testimonials)
            {
                <div class="row justify-content-center text-center">
                    <div class="col-md-7">
                        <blockquote class="testimonial-1">
                            <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                            <p>@testimonial.Content</p>
                            <cite><span class="text-black">@testimonial.Fullname</span> &mdash; <span class="text-muted">@testimonial.Position</span></cite>
                        </blockquote>
                    </div>
                </div>
            }


        </div>
    </div>
        

    <div class="site-section bg-light">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="~/Public/images/post_1.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="#"><h2>4 latest technology for future generation</h2></a>
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="~/Public/images/post_2.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="#"><h2>4 latest technology for future generation</h2></a>
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="~/Public/images/post_3.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="#"><h2>4 latest technology for future generation</h2></a>
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
            <div class="post-entry-1 h-100">
              <a href="#">
                <img src="~/Public/images/post_4.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <span class="meta">July 17, 2019</span>
                <a href="#"><h2>4 latest technology for future generation</h2></a>
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    