@model CruiseDemo.Models.BlogViewModel
@{
    ViewBag.Title = "Index";
}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay" style="background-image: url('Public/images/hero_2.jpg')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <h1>Our Blog</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row align-items-stretch">
            @foreach (var blog in Model.Blogs)
            {

                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="post-entry-1 h-100">
                        <a href="@Url.Action("Details","Blog", new { Id = blog.Id})">
                            <img src="~/Public/images/@blog.Photo" alt="Image"
                                 class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">@(blog.CreatedAt?.ToString("MMMM dd, yyyy"))</span>
                            <a href="@Url.Action("Details","Blog", new { Id = blog.Id})"><h2>@blog.Title</h2></a>
                            <a href="@Url.Action("Details","Blog", new { Id = blog.Id})" class="more">Read More</a>
                        </div>
                    </div>
                </div>

            }

            <div class="col-12">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (Model.CurrentPage == i)
                    {
                        <span class="p-3">@i</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Blog", new { page = i})" class="p-3">@i</a>
                    }
                }



            </div>
        </div>
    </div>
</div>

